/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* End of Reset */
/* Addition of local font */
@font-face {
  font-family: 'Inter';
  src: local('Inter'),
       url('/assets/fonts/inter-variablefont_slntwght-webfont.woff2') format('woff2-variations'),
       url('/assets/fonts/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
       url('/assets/fonts/inter-variablefont_slntwght-webfont.woff') format('woff-variations'),
       url('/assets/fonts/inter-variablefont_slntwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
i, em, .italic {
	/* Should be font-style: italic; */
	font-variation-settings: 'ital' 1;
}.slanted {
	/* Should be font-style: oblique 10deg; */
	font-variation-settings: 'slnt' 10;
}
/* 
* Could have added .eot, .ttf & .svg fonts, but it seems present best practices advise just these two file formats
* https://web.dev/reduce-webfont-size/#web-font-formats for more info
*/

*{
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  /** Font kerning is important to keep consistency in the spacing of the fonts */
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  --softOrange: #e9ab53;
  --softRed: #f15e50;
  --offWhite: #fffdfa;
  --grayishBlue: #c5c6ce;
  --darkGrayishBlue: #5d5f79;
  --veryDarkBlue: #00001a;
}
button{
  cursor: pointer;
}
.container{
  padding: 1em .75em;
}nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 0 2em;
}
.nav--imgLink{
  width: 40%;
  max-width: 55px;
}
#nav--hamburgerBtn{
  outline: none;
  border: none;
  background-color: transparent;
}#nav--hamburgerBtn:focus, #nav--hamburgerBtn:hover{
  outline: 1px solid var(--veryDarkBlue);
}

.midContainer{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin-bottom: 4em;
}
.main--sections{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1.5em 0;
}.main--sections h1{
  color: var(--veryDarkBlue);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.05;
  letter-spacing: 1px;
}.main--article p{
  color: var(--darkGrayishBlue);
  font-size: 1rem;
  margin-bottom: 1.5em;
  line-height: 1.75;
}.main--article button{
  outline: none;
  border: none;
  background-color: var(--softRed);
  width: 55%;
  max-width: 250px;
  color: var(--offWhite);
  padding: 1.25em 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: min(75%, .9rem);
}.main--article button:hover, .main--article button:focus{
  background-color: var(--veryDarkBlue);
}

.midAside{
  padding: 1.5em 1em;
  background-color: var(--veryDarkBlue);
  color: var(--offWhite);
}.midAside h2{
  color: var(--softOrange);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: .25em;
}.midAside--article{
  padding: 1.5em 0;
  border-bottom: 1px solid var(--darkGrayishBlue);
}.midAside--article:last-of-type{
  border: none;
  padding-bottom: .25em;
}.midAside a{
  text-decoration: none;
  color: var(--offWhite);
  font-size: 1.25rem;
  font-weight: 700;
}.midAside a:hover, .midAside a:focus{
  color: var(--softOrange);
}.midAside p{
  color: var(--grayishBlue);
  font-size: .9rem;
  margin-top: .3em;
  line-height: 1.75;
}

.footerArticles{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  padding-bottom: 4em;
} .footerArticles > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}.footerArticles--img{
  width: 30%;
  max-width: 105px;
  align-self: stretch;
}.footerArticles--img img{
  min-height: 100%;
  object-fit: cover;
}
.footerArticles--article{
  width: 65%;
}.footerArticles--article p:first-of-type{
  color: var(--grayishBlue);
  font-size: 2rem;
  font-weight: 700;
}.footerArticles--article a{
  text-decoration: none;
  color: var(--veryDarkBlue);
  font-size: 1.25rem;
  font-weight: 700;
}.footerArticles--article a:hover, .footerArticles--article a:focus{
  color: var(--softRed);
}.footerArticles p:last-of-type{
  margin-top: .5em;
  color: var(--darkGrayishBlue);
  font-size: .9rem;
  line-height: 1.75;
}

.nav--mobilePanel{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--offWhite);
  min-height: 100vh;
  width: 70%;
  padding: 1.5em 1em;
  box-shadow: 2px 2px 0 100vw rgba(0, 0, 0, 0.65);
  display: none ;
}.nav--mobilePanel > div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5em;
}#nav--mobilePanelClose{
  background-color: transparent;
  border: none;
  transition: transform .5s;
}#nav--mobilePanelClose:hover, #nav--mobilePanelClose:focus{
  transform: scale(90%);
  outline: 1px solid var(--veryDarkBlue);
}

.mobileNav--links{
  list-style: none;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
}.mobileNav--links a{
  text-decoration: none;
  color: var(--veryDarkBlue);
  font-size: 1.15rem;
}.mobileNav--links a:hover, .mobileNav--links a:focus{
  color: var(--softRed);
}