/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* End of Reset */
/* Addition of local font */
@font-face {
  font-family: 'Inter';
  src: local('Inter'),
       url('/assets/fonts/inter-variablefont_slntwght-webfont.woff2') format('woff2-variations'),
       url('/assets/fonts/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
       url('/assets/fonts/inter-variablefont_slntwght-webfont.woff') format('woff-variations'),
       url('/assets/fonts/inter-variablefont_slntwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
i, em, .italic {
	/* Should be font-style: italic; */
	font-variation-settings: 'ital' 1;
}.slanted {
	/* Should be font-style: oblique 10deg; */
	font-variation-settings: 'slnt' 10;
}
/* 
* Could have added .eot, .ttf & .svg fonts, but it seems present best practices advise just these two file formats
* https://web.dev/reduce-webfont-size/#web-font-formats for more info
*/

*{
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  /** Font kerning is important to keep consistency in the spacing of the fonts */
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  --softOrange: #e9ab53;
  --softRed: #f15e50;
  --offWhite: #fffdfa;
  --grayishBlue: #c5c6ce;
  --darkGrayishBlue: #5d5f79;
  --veryDarkBlue: #00001a;
}
button{
  cursor: pointer;
}
.container{
  padding: 1em .75em;
}nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 0 2em;
}
.nav--imgLink{
  width: 40%;
  max-width: 55px;
}
#nav--hamburgerBtn{
  outline: none;
  border: none;
  background-color: transparent;
}

.midContainer{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.main--sections{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1.5em 0;
}.main--sections h1{
  color: var(--veryDarkBlue);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: 1px;
}